* {
  text-align: center;
  font-weight: bold;
}

.background {
	height: 100%
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.start {
	font-size: 100px;
}


header {
	font-size: 100px;
}

#game {
	font-family: 'Nosifer', cursive;
	font-size: 25px;
	height: 100%;
}






